.shop img {
    width: 100%;
    border-radius: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.introduce1 {
    width: 40%;
}

.row {
    font-size: large;
}
.introduceTitle{
    text-align: center;
    text-shadow: 0 0 20px white ;
}
.introduceText{
    font-weight: 400;
    text-align: justify;
}