/* ---------------商品頁分類標籤css--------------- */
.container .product{
    text-align: center;
    display: flex;
}
.container .product div{
    flex-grow: 1;
}
.container .product div button{
    font-weight: 400;
    width: 80%;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 5px;
    font-size:x-large ;
    background-color: #000000;
    color: white;
}
.container .product div button:hover{
    background-color: rgba(54, 54, 54, 0.87);
    color: #ffffff;
    transition: .25s;
}
.container .product div button:hover:active{
    background-color: rgba(54, 54, 54, 0.87);
    color: #ffffff;
    transition: .25s;
    transform: scale(0.96);
}
/* ---------------↑--------------- */

/* ---------------商品css樣式--------------- */
.price{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: larger;   
}
.addCart{
    width: 100%;
    border: none;
    background-color: #2f2b2b;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
.addCart:hover{
    border: none;
    background-color: #2f2b2b;
    color: #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: .25s;
    box-shadow: 0px 15px 25px -10px #808080;
    transform: scale(1.02);
}
.addCart:hover:active{
    border: none;
    background-color: #2f2b2b;
    color: #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: .25s;
    box-shadow: 0px 4px 8px #808080;
    transform: scale(0.98);
}
.item{
    /* display: flex;
    flex-direction: column; */
    width: 22%;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f5ece0;
}

.item img {
    margin-top: 10px;
    border-radius: 30px;
    width: 90%;
    filter: drop-shadow(0 10px 20px rgb(83, 83, 83));
}
.total{
    display: flex ;
    flex-wrap: wrap;
    gap: 30px ;
    margin: 25px;
    padding-left: 2%;
}
.productContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productContent img{
    flex-grow: 1;
}
/* ---------------↑--------------- */

/* 分類切換 */
.showProduct{
    display: block;
}
.hideProduct{
    display: none;
}
/* ---------------↑--------------- */
