@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: 'Noto Sans TC',sans-serif !important;
}
nav li {
    margin: 0 15px;
    font-size: x-large;
}
#introImg{
    border-radius: 30px;
    position: relative;
    left: 20%;
}
.card-text{
    color: white;
    text-shadow: 3px 3px 3px black;
}
.priceImg img{
    transform:scale(1,1);transition: all 1s ease-out;
}
.priceImg img:hover{transform:scale(1.8,1.8);}
footer .row {
    font-size: medium;
    color: white;
}

footer iframe {
    border-radius: 20px;
    width: 80%;
    height: 60%;
}


.listProduct .item img {
    flex-grow: 1;
    margin-top: 10px;
    border-radius: 30px;
    width: 90%;
    filter: drop-shadow(0 10px 20px rgb(83, 83, 83));
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4 ,1fr); 
    gap:20px; 
}

.listProduct .item .price{
    margin-bottom: 10px;
    
}
.listProduct .item .addCart{
    border: none;
    background-color: #2f2b2b;
    color: #ffffff;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
.listProduct .item{
    display: flex;
    flex-direction: column;
    width: 100%;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f5ece0;
}

#video{
    margin-bottom: 50px;
}
#video iframe{
    border: none;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}
#product{
    background-color: rgb(245, 224, 139);
    height: 50px;
    text-align: center;
    font-size: x-large;
}
.container{
    transition: transform .5s;
}
.cartTab{
    width: 400PX;
    background-color: #2f2b2b;
    color: #eee;
    position: fixed;
    top: 0px;
    right: -400px;
    bottom: 0px;
    display: grid;
    grid-template-rows:  70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-400px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    color:black;
    background-color:  #f5ece0;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color:rgb(80, 17, 3);
    color: white;
}
.cartTab .listCart .item img{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    border-radius: 20px;
} 
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px   ;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #010101;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: rgb(76, 72, 65);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}